<div>
    <mat-carousel timings="250ms ease-in" [autoplay]="true" [interval]="5000" color="accent" maxWidth="auto"
        [proportion]="25" [slides]="5" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true"
        [useMouseWheel]="false" orientation="ltr">
        <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image"
            overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
    </mat-carousel>
</div>
<div class=" mt pd  container selector root">
    <div class="b-bg p-3">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="40">
                <img class="img-lab" src="../../assets/img/Heimerdinger_LoR_Portrait.png">
            </div>
            <div fxFlex="50">
                <div class="pd" fxFlex="80">
                    <h4 class="mat-display-1">About Regim-Lab:</h4>

                    <h1 class="mat-headline">is a Research Laboratory in Intelligent Machines (code LR11ES48) located in
                        the
                        National
                        Engineering School of Sfax (ENIS), University of Sfax.</h1>
                </div>
            </div>
            <span class="spacer"></span>

            <mat-divider [vertical]="true" class="pd"></mat-divider>
           
        </div>
    </div>
</div>