<mat-toolbar class=" colr mat-elevation-z6">
    <span>
        <mat-icon>local_library</mat-icon> Enis-Lab
    </span>
    <span class="spacer"></span>
    <a [routerLink]="['/home']" routerLinkActive="router-link-active" mat-button>Home</a>
    <a [routerLink]="['/members']" routerLinkActive="router-link-active" mat-button>Members</a>
    <a [routerLink]="['/publications']" routerLinkActive="router-link-active" mat-button>Publications</a>
    <a [routerLink]="['/evenments']" routerLinkActive="router-link-active" mat-button>Evenments</a>
    <a [routerLink]="['/outils']" routerLinkActive="router-link-active" mat-button>outils</a>

    <span class="ml-20">|</span>
    <a [routerLink]="['/log-in']" routerLinkActive="router-link-active" (click)="tryGoogleLogin()" class="ml-20" mat-raised-button
        color="accent">Log-in</a>

</mat-toolbar>