<mat-toolbar class=" colr mat-elevation-z6">
    <span>
        <mat-icon>local_library</mat-icon> Enis-Lab
    </span>
    <span class="spacer"></span>
    <a [routerLink]="['/home']" routerLinkActive="router-link-active" mat-button>Home</a>
    <a [routerLink]="['/members']" routerLinkActive="router-link-active" mat-button>Members</a>
    <a [routerLink]="['/publications']" routerLinkActive="router-link-active" mat-button>Publications</a>
    <a [routerLink]="['/evenments']" routerLinkActive="router-link-active" mat-button>Evenments</a>
    <a [routerLink]="['/outils']" routerLinkActive="router-link-active" mat-button>outils</a>

    <span class="ml-20">|</span>
    <div *ngIf="!authService.userState as user;then content else other_content"></div>
    <ng-template #content><a (click)="tryGoogleLogin()" class="ml-20" mat-raised-button
        color="accent">Log-in</a></ng-template>
    <ng-template #other_content> <div class=" ml-20 d-flex" *ngIf="authService.userState as user">
        <div class="media">
            <img class="align-self-start mr-5 img-thumbnail rounded-circle" height="50px" width="50px"
                src="{{(user.photoURL) ? user.photoURL : '/assets/dummy.jpg'}}" alt="{{user.displayName}}">
        </div>
        <div>
            <a class="mt-20 ml-20" mat-raised-button color="accent" (click)="authService.SignOut()">
                Sign Out
            </a>
        </div>
    </div></ng-template>
  

   
</mat-toolbar>